asgiref==3.4.1
bson==0.5.10
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
Cython==0.29.23
Django==3.2.5
djangorestframework==3.12.4
emoji==1.2.0
fuzzywuzzy==0.18.0
google-api-core==1.31.0
google-api-python-client==2.12.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.1
httplib2==0.19.1
idna==2.10
importlib-metadata==4.6.1
joblib==1.0.1
mysqlclient==2.0.3
nltk==3.6.2
numpy==1.19.5
packaging==21.0
pafy==0.5.5
pandas==1.1.5
phonetics==1.0.5
protobuf==3.17.3
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMySQL==1.0.2
pyodbc==4.0.32
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
pywinauto==0.6.6
regex==2021.7.6
requests==2.25.1
rsa==4.7.2
scikit-learn==0.22.2.post1
scipy==1.4.0
simplejson==3.17.4
six==1.16.0
SQLAlchemy==1.4.23
sqlparse==0.4.1
textblob==0.15.3
threadpoolctl==2.2.0
tqdm==4.61.2
typing-extensions==3.10.0.0
Unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.6
youtube-dl==2021.6.6
zipp==3.5.0
