{% extends 'index.html' %}
{% block commentAna %}
{% load static %}
 <div id="labelStat" class="row d-flex align-items-center flex-column" style="dispaly: block">
               {{comment_label}}
              {% if probaNonoff > probaOff %}
              <img src="{% static 'assets/img/check.png' %}" class="rounded mx-auto d-block" style=" margin : 10px" width="100" height="100"alt="">
              <p style="color :#3db39e"> Pas de soucis, ce message ne contient pas d'harcelemnt </p>
             {% else %}
              <img src="{% static 'assets/img/notcheck.png' %}" class="rounded mx-auto d-block" style="margin : 10px" width="100" height="100"alt="">
              <p style="color :#e2574c"> Attention!, ce message peu contenir des mots offenssives et de haine</p>
              {% endif %}

              <div style="width: 30%">
              <div class="progress" style="margin : 10px">
                  <div class="progress-bar" role="progressbar" style="width:{{ probaNonoff }}%; background-color:#3db39e" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ probaNonoff }}%</div>
              </div>

              <div class="progress" style="margin : 10px">
                  <div class="progress-bar" role="progressbar" style="width: {{ probaOff }}%; background-color: #e2574c" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{probaOff}}%</div>
              </div>
              </div>

            </div>
{% endblock %}