{% extends 'index.html' %}
{% load static %}
<script >
{% block jquery %}
var endpoint = '/comments/'
var defaultData = []
var labels = [];
var d =0;
var n =0;
var countUsers = {};
var co_users = {};
var offCount = [];
var nonoffCount = [];
var users = [];
var userLabels = [];
var countOffUsers = {};
var countNonOffUsers = {};
var defaultD= [0,0,0,0,0,0,0];
var defaultData2= [0,0];
var gDate =[]
var goffCount = []
var gnonoffCount = []
var gtotal = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        vid = "{{id}}";
        l = data.length;
        labels2 = ["NONOFF", "OFF"]
        gDate = {{date |safe}};
        goffCount = {{offCount |safe}};
        gnonoffCount = {{nonoffCount |safe}};
        gtotal = goffCount.map((a, i) => a + gnonoffCount[i]);
        console.log(goffCount.length);

        defaultData2=[{{nbrnonoff}},{{nbroff}}]

 var tbl = document.getElementById("tableUsers");
  var tblBody = document.getElementById("tbodyUsers");
  var cell;
  var cellText;
  var row;


    off_users= {{offUsers |safe}}
    countOffUsers= {{offUsersCount |safe}}
    console.log("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh");
    console.log(countOffUsers);
    console.log(off_users);



     for (let i = 0; i < countOffUsers.length; i++){
    console.log(off_users[0])
    console.log(countOffUsers[i])
    co_users[off_users[i]]= countOffUsers[i]
    }
if ({{maxHarceleur }} > 1) {
  for (const element in co_users) {
      if (co_users[element] >1){
      $("#harceleurs").show();
      row = document.createElement("tr");
       console.log('hiiiii');
      cell = document.createElement("td");
      cellText = document.createTextNode(element);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(co_users[element]);
      cell.appendChild(cellText);
      row.appendChild(cell);

    tblBody.appendChild(row);
    }
  }

  tbl.appendChild(tblBody);

  tbl.setAttribute("border", "2");
}

setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})



function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx3 = document.getElementById("myChart3");
    var ctx4 = document.getElementById("myChart4");
    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: labels2,
        datasets: [{
            label: '# of Votes',
            data: defaultData2,
            backgroundColor: [
                'rgba(102, 196, 238, 0.2)',
                'rgba(237, 108, 113, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(102, 196, 238, 1)',
                'rgba(237, 108, 113, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

});
var myChart4 = new Chart(ctx4, {
        type: 'line',
        data: {
            labels:gDate,
            datasets: [{
                label: 'OFF',
                data: goffCount,
                borderColor: 'rgba(237, 108, 113, 1)',
                backgroundColor: 'rgba(237, 108, 113, 0.2)',

            },
            {
                label: 'NONOFF',
                data: gnonoffCount,
                 backgroundColor: 'rgba(102, 196, 238, 0.2)',
                 borderColor:'rgba(102, 196, 238,1)',

            },
            {
                label: 'Total',
                data: gtotal ,
                 backgroundColor: 'rgba(160, 169, 165, 0.2)',
                 borderColor:'rgba(160, 169, 165,1)',

            }
            ]
        },
       options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });


}
// var ctx = document.getElementById("myChart");
window.onload = function() {
//nothing
};


{% endblock %}
</script>

{% block content %}
<section id="dashboard" >

<div style="padding : 15px ">
<div class="row">

    <div class="col-sm-3">

 <div class="card card-outline card-primary" style="border-top: 3px solid #a0a9a5">

            <div class="card-body" >
                    <div class="row " style="margin : 8px 0px 8px 0px">

                        <div class="col-lg-9" >
                           <p style="font-family: 'Raleway', sans-serif; font-size: 18px">Total de commentaires</p>
                       </div>

                       <div class="col-lg-3">
                            <p style="font-family: 'Raleway', sans-serif; font-size: 20px; margin : 0px; padding : 0px"> {{total}}</p>

                       </div>

                     </div>

                <div class="row " style="margin : 8px 0px 0px 0px" >

                        <div class="col-lg-9" >
                           <p style="font-family: 'Raleway', sans-serif; font-size: 18px">Nombre de commentaires analysé
                           </p>
                       </div>

                       <div class="col-lg-3" >
                            <p style="font-family: 'Raleway', sans-serif; font-size: 20px; padding : 0px"> {{totalGarde}}</p>

                       </div>

                     </div>


                <div class="row" style="margin : 8px 0px 0px 0px">
                    <div class="col-lg-12" >
                           <p style="font-family: 'Raleway', sans-serif; font-size: 15px">La langue dominante dans les commentaires annalysés est  <b>{{lg}}</b>  avec
                               un pourcentage estimer à  <b> {{lgcount}}% </b>
                           </p>
                        </div>
                     </div>


                 <div class="row d-flex align-items-center" style=" text-align : center">

                        <div class="col-lg-6"  style=" padding : 0px">
                              <img src="{% static 'assets/img/rouge.png' %}" class="img-fluid" style="margin : 15px 0px 0px 0px" width="40px" height="50px" alt="">
                       <p style="font-family: 'Raleway', sans-serif; font-size: 20px; margin : 5px 0px 10px 0px"> {{proff}}% </p>

                        </div>
                        <div class="col-lg-6"  style=" padding : 0px">
                               <img src="{% static 'assets/img/vert.png' %}" class="img-fluid" style="margin :15px 0px 0px 0px" width="40px" height="50px" alt="">
                                <p style="font-family: 'Raleway', sans-serif; font-size: 20px;  margin : 5px 0px 10px 0px"> {{prnonoff}}% </p>

                        </div>
                     </div>






            </div>

 </div>

        <div class="card card-outline card-primary" style="border-top: 3px solid #a0a9a5">
  <div class="card-header">
    <h3 class="card-title">Nombre de commentaires </h3>
    <div class="card-tools">
      <!-- This will cause the card to maximize when clicked -->
      <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>

    </div>
    <!-- /.card-tools -->
  </div>

              <div class="card-body"  url-endpoint='{% url "api-data" %}' >
                      <div >
                        <canvas id="myChart" ></canvas>
                    </div>
              </div>
  </div>

    </div>
    <div class="col-sm-9" >
         <div class="card card-outline card-primary" style="border-top: 3px solid #a0a9a5">

            <div class="card-body " >
                <table class="table table-condensed ">
    <thead>
      <tr>
        <th>Date</th>
        <th>L'auteur</th>
        <th>Commentaire</th>
          <th>Probabilité d'offensivité</th>
      </tr>
    </thead>
    <tbody>
       {% for c in commentsOff %}
   <tr>
       <td>{{c.comment_date |date }}</td>
       <td>{{c.comment_author}}</td>
       <td>{{c.comment_data}}</td>
       <td>
            <div class="progress" style="margin : 10px">
                  <div class="progress-bar" role="progressbar" style="width: {{c.comment_degre_OFF}}%; background-color:#e2574c" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ c.comment_degre_OFF}}%</div>
              </div>
       </td>

   </tr>
   {% endfor %}
    </tbody>
  </table>



                <ul class="pagination">

{% if commentsOff.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
{% endif %}

{% if commentsOff.number|add:'-4' > 1 %}
    <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in commentsOff.paginator.page_range %}
    {% if commentsOff.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > commentsOff.number|add:'-5' and i < commentsOff.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if commentsOff.paginator.num_pages > page_obj.number|add:'4' %}
    <li><a href="?page={{ commentsOff.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if commentsOff.has_next %}
    <li><a href="?page={{ commentsOff.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
{% endif %}

</ul>











                <nav aria-label="Page navigation example" style="margin-top : 10px" >
 {% if commentsOff.has_other_pages %}
    <ul  class="pagination justify-content-end"  max-size="3" style="margin : 0px"  >
   {% if commentsOff.has_previous %}
     <li  class="page-item "><a class="page-link" style="color: #3a7863" href="?page={{ commentsOff.previous_page_number }}">«</a></li>
   {% else %}
     <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
   {% endif %}
   {% for i in commentsOff.paginator.page_range %}
     {% if commentsOff.number == i %}
    <li class="page-item active"><a class="page-link" style="background-color: #3a7863; border-color : #3a7863" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
     {% else %}
    <li class="page-item "><a class="page-link" style="color: #3a7863"  href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
   {% endfor %}
   {% if commentsOff.has_next %}
     <li class="page-item "><a class="page-link" style="color: #3a7863"  href="?page={{commentsOff.next_page_number }}">»</a></li>
   {% else %}
     <li class="page-item disabled"><a class="page-link" href="#">»</a></li>
   {% endif %}
    </ul >
  {% endif %}
                </nav>
            </div>

 </div>


<div class="row">
    <div class="col-lg-8">

<div class="card card-outline card-primary" style="border-top: 3px solid #a0a9a5">
  <div class="card-header">
    <h3 class="card-title">L'evolution de nombre de commentaires en fonction de temps</h3>
    <div class="card-tools">
      <!-- This will cause the card to maximize when clicked -->
      <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>

    </div>
    <!-- /.card-tools -->
  </div>

  <div class="card-body"  url-endpoint='{% url "api-data" %}' >
        <div >
            <canvas id="myChart4" ></canvas>
            <!-- <canvas id="myChart2" ></canvas> -->
        </div>

  </div>
</div>
    </div>


     <div class="col-lg-4">
<div id="harceleurs" class="card card-outline card-primary" style=" border-top: 3px solid #a0a9a5" >
  <div class="card-header">
    <h3 class="card-title">Utilisateurs qui peuvent être des harceleurs </h3>
    <!-- /.card-tools -->
  </div>
 {% if maxHarceleur > 1 %}
  <div class="card-body"  url-endpoint='{% url "api-data" %}' style="display: block;position: relative;height: 320px;overflow: auto;" >


<table class="table borderless" id ="tableUsers" style="border: none; height:50px; overflow-y: scroll;">
    <thead  style="border: none; font-size: 14px; padding :0px">
    <tr >
      <th  style="padding :1px" scope="col">Harceleur</th>
      <th  style=" padding :1px" scope="col">Nombre de commentaires</th>
    </tr>
  </thead>
  <tbody id ="tbodyUsers" style="border: none">

  </tbody>
</table>

 </div>
    {%else%}
    <div class="card-body">
      <div class=" row d-flex align-items-center" >
      <img src="{% static 'assets/img/safe.png' %}"  style="margin-left : 120px" width="60px" height="60px" >
      <p  class="text-success"  style="text-align : center; margin-top : 10px">
Il ne semble pas y avoir d’harceleurs potentiels
      </p>
  </div>
    </div>
{% endif %}

</div>

    </div>


</div>

</div>
</div>
</div>

</section>

{% endblock content %}